*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

button:active{
    background: orange !important;
}

.App{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    padding: 0;
}

.App h2{
    margin-bottom: 10px !important;
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 200;
    text-align: center;
    padding: 10px 0 ;
    color: #B83F45;

}

.todo-card{
    width: 50%;
    height: 80%;
    background: white;
    box-shadow: 0 0 5px 5px #ccc;
}

.todo-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:  0 15px;
    width: 100%;
    margin: 5px;

}

.todo-item-card{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width:100%;
    padding: 10px;
    border-radius: 10px;   
    /* background: rgba(25, 10, 233, 0.4) */

}


.todo-item-card  .toggle{
    flex: 1;
    height: 30px;
    border: none !important;
}

.todo-item-card .text{
    flex: 6;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.todo-item-card .colorPicker{
    flex: 1.5;
    background: white;
    border: 2px white solid;
}

.todo-item-card .close-btn{
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo-item-card .close-btn i{
    font-size: 30px;
    color: rgb(128, 5, 5);
}

.todo-item-card .close-btn i:hover{
    color: crimson;
    transform: scale(1.2)
}

.todo-item-card .close-btn .fa-edit, .fa-pen{
    font-size: 20px;
    color: rgb(5, 73, 128);
    margin-right: 15px ;
}

.todo-item-card .close-btn .fa-pen{
    font-size: 20px;
    color: rgb(5, 73, 128);
    margin-right: 15px ;
}

.todo-item-card .close-btn .fa-edit:hover, .fa-pen:hover{
    color: blue !important;
    transform: scale(1.2)
}



.todo-list-form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.todo-list-form .todo-list{
    flex: 3;
    overflow: hidden;
    overflow-y: auto;
}

.todo-list-form .filter-form{
    flex: 2;
    border-top: 4px #ccc double;
    display: flex;
    justify-content:space-between;
}

.todo-list-form .filter-form .actions{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;

}

.todo-list-form .filter-form .filter-status{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.todo-list-form .filter-form .filter-color-tag{
    flex: 2;
    
    
}


.all-complete{
    width: 100%;
    background: blue;
    padding: 4px 0;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}

.sort{
    font-weight: 600;
    color: black;
    border: 2px orange solid;
    margin: 2px 5px;
    width: 45%;

}

.sort:hover{
    background: orange;
}


.sort:active{
    background: orange !important;
}

.white{
    background: white;
    color: black
}

.white:hover{
    background: white !important;
    opacity: 0.5 !important;
    color: black !important;
}

.green{
    background: green;
    border: 2px orange solid;
    color: white !important;

}

.green:hover{
    background: green !important;
    opacity: 0.5 !important;
    color: white !important;
}


.red{
    background: red;
    border: 2px orange solid;
    color: white !important;

}

.red:hover{
    background: red !important;
    opacity: 0.5 !important;
    color: white !important;
}


.orange{
    background: orange;
    border: 2px orange solid;
    color: white !important;

}

.orange:hover{
    background: orange !important;
    opacity: 0.5 !important;
    color: white !important;
}

.purple{
    background: purple;
    border: 2px orange solid;
    color: white !important;

}

.purple:hover{
    background: purple !important;
    opacity: 0.5 !important;
    color: white !important;
}

.blue{
    background: blue;
    border: 2px orange solid;
        color: white !important;

}

.blue:hover{
    background: blue !important;
    opacity: 0.5 !important;
    color: white !important;

}
